<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <button mat-button routerLink="/course-setup">Course Setup</button>
  <button mat-button routerLink="/score-card">Score Card</button>
  <button class="login-button" mat-button routerLink="/score-card" (click)="auth.googleLogin()">Login</button>
  <div *ngIf="auth.user | async as user">Hello {{user.email}}!</div>
</mat-toolbar>
<mat-divider class="divider"></mat-divider>

<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>

